.bloglink {
    max-width: 1320px;
    margin: auto;
}
.bloglink__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 0;
}
.bloglink-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.bloglink-title p {
    display: block;
    margin: 0 0 12px;
    font-family: eb garamond,serif;
    font-size: 18px;
    font-style: italic;
    color: #8b8b8b;
}
.bloglink-title h2 {
    font-family: josefin sans,sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #1d1d1d;
    font-size: 29px;
    line-height: 1.55em;
    letter-spacing: .2em;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
.bloglink__wrapper-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 60px;
    flex-wrap: wrap;
}
.bloglink__wrapper-item {
    width: 420px;
    margin: 0 10px;
    cursor: pointer;
    transform: translateX(13px);
}
.blog-img  {
    transition: transform 1.4s cubic-bezier(.25,.1,0,1.02);
    overflow: hidden;
    display: block;
}
.blog-imgg {
    transform: translateX(-20px);
    overflow: hidden;
    display: block;
}
.blog-imgg img {
    transition: transform 1.4s cubic-bezier(.25,.1,0,1.02);
}
.bloglink__wrapper-item:hover  img {
    transform: translateX(20px);
    transition: transform 1.4s cubic-bezier(.25,.1,0,1.02);
}
.bloglink__wrapper-item p {
    font-family: eb garamond,serif;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    color: #8b8b8b;
    margin-top: 20px;
    line-height: 1.4em;
    transition: .4s ease;
}
.bloglink__wrapper-item p:hover {
    color: #1d1d1d;
}
.bloglink__wrapper-item h3 {
    font-family: josefin sans,sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #1d1d1d;
    font-size: 20px;
    line-height: 1.55em;
    letter-spacing: .18em;
    margin: 5px 0;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
.bloglink__wrapper-item span {
    font-family: open sans,sans-serif;
    font-size: 15px;
    line-height: 1.8em;
    font-weight: 400;
    color: #8b8b8b;
}
.readd {
    font-family: eb garamond,serif;
    font-size: 18px;
    margin-top: 20px;
    font-weight: 300;
    font-style: italic;
    color: #292929;
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid #1d1d1d;
}
/* responsive */
@media only screen and (max-width: 1024px) {
    .bloglink__wrapper-item {
        width: 240px;
    }
    .bloglink__wrapper-item img {
        width: 236px;
        height: 290px;

    }
}
@media only screen and (max-width: 768px) {
    .bloglink__wrapper-item {
        width: 300px;
    }
    .bloglink__wrapper-item img {
        width: 290px;
        height: 354px;
    }
    .bloglink__wrapper-container {
        justify-content: start;
        width: 86%;
    }
    .bloglink__wrapper-item:nth-child(3) {
        margin-top: 20px;
        transform: translateY(40px);
    }
}
@media only screen and (max-width: 600px) {
    .bloglink__wrapper-item {
        width: 440px;
    }
    .bloglink__wrapper-item img {
        width: 430px;
        height: 531px;
    }
    .bloglink__wrapper-container {
        justify-content: center;
    }
    .bloglink__wrapper-item:nth-child(3) ,.bloglink__wrapper-item:nth-child(2) {
        margin-top: 20px;
        transform: translateY(40px);
    }
}
@media only screen and (max-width: 420px) {
    .bloglink__wrapper-item {
        width: 319px;
    }
    .bloglink__wrapper-item img {
        width: 309px;
        height: 379px;
    }
}