.footer {
    background-color:#f4f2f2 ;
}
.footer__wrapper {
    display: flex;
    height: 400px;
    flex-wrap: wrap;
    padding-top: 90px;
    justify-content: space-around;
}

.footer__wrapper h4 {
    font-family: josefin sans,sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #1d1d1d;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: .12em;
    margin: 25px 0;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
.footer__wrapper p {
    color: #8b8b8b;
    font-family:sans-serif;
    font-size: 16px;
    line-height: 33px;
}

/* RESPOSIVE------------- */
@media only screen and (max-width: 768px) {
    .footer__wrapper-contact{
        margin: 0 80px;
        background-color:#f4f2f2 ;
    }
    .footer__wrapper-help {
        margin-right: 180px;
    }
}
@media only screen and (max-width:600px) {
   .footer__wrapper-help {
       margin-right: 100px;
   }
}
@media only screen and (max-width:414px) {
    .footer__wrapper-help {
        margin-left:40px;
    }
    .footer__wrapper-about {
        margin-left: 45px;
        margin-right: 80px;
    }
 }