.category {
    padding: 20px 20px;
    padding-left: 8px;
    position: relative;
    background-color: #fff;
    transition: .8s cubic-bezier(.77, 0, .175, 1);
    cursor: pointer;
    padding-right: 0px;
}

.category__wrapper {
    display: flex;
    justify-content: space-around;
    transition: .3s linear;
}

.category__wrapper-item {
    margin: 1px 4px;
    position: relative;
}

.category__wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s cubic-bezier(.25, .1, 0, 1.02);
}

.category__wrapper-item:hover img {
    transform: translateX(12px);
    transition: transform 1s cubic-bezier(.25, .1, 0, 1.02);
}

.bao {
    transition: transform 1s cubic-bezier(.25, .1, 0, 1.02);
    overflow: hidden;
    display: block;
}

.baoo {
    display: block;
    overflow: hidden;
}

.baoo {
    transform: translateX(-12px);
}

.cate-h7 {
    color: #EF5B47;
    font-family: the gwathmey;
    position: absolute;
    font-style: italic;
    top: 15px;
    right: 20px;
    font-size: 2.6rem;
}

.cate-h4 {
    font-family: "Josefin Sans";
    color: rgb(29, 29, 29);
    letter-spacing: 4px;
    position: absolute;
    bottom: 66px;
    font-size: 1.1rem;
    right: 18px;
    font-weight: 600;
}


.category__wrapper-item button {
    position: absolute;
    bottom: 30px;
    width: 80px;
    right: 40px;
    height: 20px;
    font-style: italic;
    color: #292929;
    font-family: eb garamond, serif;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: .4px;
    font-style: italic;
    cursor: pointer;
    background-color: transparent;
    border: 0;
}

.category__wrapper-item button::after {
    width: 85%;
    position: absolute;
    height: 1px;
    bottom: 0;
    left: 5px;
    background-color: #1d1d1d;
    content: '';
}

.tegory__wrapper-item button span {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    position: relative;
    right: 25px;
    bottom: 35px;
    transform: scaleX(0);
    transform-origin: right;
    z-index: 9;
    transition: transform 0.5s;
}

.category__wrapper-item button span {
    display: block;
    position: absolute;
    background-color: rgb(233, 233, 233);
}

.category__wrapper-item button span:nth-child(2) {
    left: 5px;
    bottom: 0px;
    width: 85%;
    height: 1px;
    z-index: 9;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s;
}

.category__wrapper-item:hover span:nth-child(2) {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform .4s;
}

.active {
    color: #fff;
}

.category__wrapper .activee {
    color: #fff;
}

.category__wrapper-item .activee::after {
    width: 85%;
    position: absolute;
    height: 1px;
    bottom: 0;
    left: 5px;
    background-color: #fff;
    content: '';
}

.category__wrapper-item .activee span {
    display: block;
    position: absolute;
    background-color: #87AEA9;
}

/* responsive */
@media only screen and (max-width: 1024px) {
    .category__wrapper {
        flex-direction: row;
        flex-flow: wrap;
        padding: 4px;
        padding-top: 0;

    }

    .category__wrapper-item {
        width: 48%;
        margin: 7px 6px;
    }
}

@media only screen and (max-width: 600px) {
    .category__wrapper-item {
        width: 100%;
        margin: 7px 6px;
    }
}
